/* LoginForm.css */
.custom-body{
  background-color: #007bff;
}


.color{
  color :indigo;
}

.main-container {
  display: flex; /* 使用 Flexbox 布局 */
}
.left-section, .right-section {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}


.title {
  font-size :30px;
}

.reservation-form1 {
  border: 10px solid #ccc;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color :aliceblue;
  color :indigo;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
